
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdJpr_rVP-qvc01Ci8ozFEnNVnS1wqUAc&libraries=places"
  async defer></script>
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/newDog" method="post">

        <div class="form-group">
          <label> Dog Name </label>
          <input type="text" [(ngModel)]="formInfo.dogName" name="dogName"/>
        </div>

        <div class="form-group">
          <label> Breed </label>
          <input type="text" [(ngModel)]="formInfo.breed" name="breed"/>
        </div>

        <div class="form-group">
          <label> age </label>
          <input type="number" [(ngModel)]="formInfo.age" name="abe"/>
        </div>

        <div class="form-group">
          <label> Description </label>
          <input type="textarea" [(ngModel)]="formInfo.description" name="description"/>
        </div>

        <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <br>


        <button (click)="addDog()"> addDog </button>

      </form>
      <div *ngIf="dog">
        <h2> You are now logged in as {{ dog.dogName }}!! </h2>
        <p> Here's the dog component </p>
        <pre> {{ dog | json }} </pre>

      </div>
        <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>
