<h4>
  Fill in your user details here
</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/signup" method="post">

        <div class="form-group">
          <label> Username </label>
          <input type="text" [(ngModel)]="formInfo.username" name="username"/>
        </div>

        <div class="form-group">
          <label> Password </label>
          <input type="password" [(ngModel)]="formInfo.password" name="password"/>
        </div>

        <div class="form-group">
          <label> Email </label>
          <input type="text" [(ngModel)]="formInfo.email" name="email"/>
        </div>

        <div class="form-group">
          <label> address </label>
          <input type="textarea" [(ngModel)]="formInfo.address" name="address"/>
        </div>
        <button (click)="login()"> login </button>
        <button (click)="signup()"> signup </button>
      </form>
      <div *ngIf="user">
        <h2> You are now logged in as {{ user.username }}!! </h2>
        <p> Here's the user object </p>
        <pre> {{ user | json }} </pre>

        <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
        <pre> {{ privateData | json }} </pre>

        <button (click)="logout()"> logout </button>
        <button (click)="getPrivateData()"> Get private data </button>
      </div>
        <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>
