
<div class="main-container">

   <div class="container-fluid">
      <div class="home-heading text-center row">
          <h3>GuAAPi takes care of your pets</h3>
      </div>
    </div>


      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <a class="navbar-brand" href="/">
             <img src="http://localhost:3000/public/images/snoopy222.jpg" width="40" height="40" alt="GuAPPi Logo">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a [routerLink]="['login']">login</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['signup']"> Signup</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['dog']"> Dogs </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['']"> Profile</a>
              </li>

            </ul>
          </div>
      </nav>

</div>
