
<div class="main-container">

 <div class="container-fluid">
      <div class="home-heading text-center row">
          <h3>GuAAPi takes care of your pets</h3>
      </div>
    </div>

  <div class="container-fluid">
    <nav class="navbar">

          <div class="row">
                   <div class="logo-image">
                      <a href="/" class="nav-logo-link">
                        <img class="img-circle" src="http://localhost:3000/public/images/snoopy222.jpg" alt="GuAPPi Logo">
                      </a>
                    </div>

                    <div class="col-md-1">
                      <a [routerLink]="['login']">login</a>
                    </div>
                      <div class="col-md-1">
                    <a [routerLink]="['signup']"> Signup</a>
                    </div>
                      <div class="col-md-1">
                    <a [routerLink]="['dog']"> Dogs </a>
                    </div>
                      <div class="col-md-1">
                      <a [routerLink]="['']"> Profile</a>
                    </div>


        </div>
    </nav>

  </div>

</div>
